<%- include('header') %>

<main class="page-content">
    <div class="dz-bnr-inr-entry d-table-cell" style="width: 100%;    flex-direction: column;
    display: flex !important
; position:relative; text-align:center; margin:50px 0" >
        <h1 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Case Study</h1>
        <nav aria-label="breadcrumb" class="breadcrumb-row wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Case Study</li>
            </ul>
        </nav>
        
        
    </div>

<section class="content-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-12 m-b30 pe-xl-5">
                <div class="loadmore-content">
                   
                    <% casestudy.forEach(item => { %>
							
                        <div class="dz-card style-2 blog-half m-b35 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">
                            <div class="dz-media">
                                <img src="<%= process.env.S3_BASE_URL + item.banner.image %>" alt="Blog_cover">
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li class="post-date"><%= item.postDate %></li>
                                    </ul>
                                </div>
                                <h3 class="dz-title"><a href="/casestudy-details/<%= item.seoDetails.slug%>"><%= item.title %></a></h3>
                                <p><%- item.description.replace(/<[^>]*>/g, '').split(' ').slice(0, 16).join(' ') %>...</p>



                                <a href="/casestudy-details/<%= item.seoDetails.slug%>" class="btn icon-link-hover-end btn-primary radius-sm">
                                    Read More <i class="feather icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>

<% }) %>
                   
                    
                </div>
                <!-- <div class="text-center m-t30 m-lg-t0 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="0.5s">
                    <a href="javascript:void(0);" class="btn btn-lg btn-icon btn-primary dz-load-more" rel="ajax/blog-list.html">
                        Load More
                        <span class="right-icon"><i class="feather icon-refresh-ccw"></i></span>
                    </a>
                </div> -->
            </div>
            <div class="col-xl-3 col-lg-12">
                <aside class="side-bar sticky-top right m-b30 p-0">


<div class="widget recent-posts-entry wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.5s">
    <% if (blogs.length > 0) { %> <div class="blogs">
<div class="widget-title ">
    <h4 class="title">Blogs</h4>
</div>

<div class="widget-post-bx">
    
    <% blogs.forEach(item => { %>
    <div class="widget-post clearfix">
        <div class="dz-media"> 
            <img src="<%= process.env.S3_BASE_URL + item.banner.image %>" alt="/">
        </div>
        
        <div class="dz-info">
            <div class="dz-meta">
                <ul>
                    <li class="post-date"><a href="javascript:void(0);"><%= item.postDate %></a></li>
                </ul>
            </div>
            <h6 class="title"><a href="/blog-details/<%= item.slug %>"><%= item.title %></a></h6>
        </div> 
    </div><% }) %>
</div>
</div> <% } %>
<% if (events.length > 0) { %> <div class="events">
    <div class="widget-title ">
        <h4 class="title">Events</h4>
    </div>
    
    <div class="widget-post-bx">
        
        <% events.forEach(item => { %>
        <div class="widget-post clearfix">
            <div class="dz-media"> 
                <img src="<%= process.env.S3_BASE_URL + item.banner.image %>" alt="/">
            </div>
            
            <div class="dz-info">
                <div class="dz-meta">
                    <ul>
                        <li class="post-date"><a href="javascript:void(0);"><%= item.postDate %></a></li>
                    </ul>
                </div>
                <h6 class="title"><a href="/blog-details/<%= item.slug %>"></a><%= item.title %></h6>
            </div> 
        </div><% }) %>
    </div>
    </div> <% } %>
</div>
<div class="widget widget_tag_cloud wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">
<div class="widget-title">
    <h4 class="title">Tags</h4>
</div>
<div class="tagcloud"> 
    <a href="javascript:void(0);">Acupressure</a>
    <a href="javascript:void(0);">Allgemein</a>
    <a href="javascript:void(0);">Blood</a>
    <a href="javascript:void(0);">Food</a>
    <a href="javascript:void(0);">Health</a>
    <a href="javascript:void(0);">Mental Health</a>
    <a href="javascript:void(0);">Therapy</a>
    <a href="javascript:void(0);">Walking</a>
</div>
</div>
</aside>
            </div>
        </div>
    </div>
</section>

</main>

<%- include('footer') %>