<%- include('header') %>

<main class="page-content">
	
 

<section class="content-inner" style="padding-top:100px !important;">
    <div class="container">
        <div class="row g-xl-4 align-items-center">
            <div class="col-xl-7 pe-xl-4 m-b10">
                <div class="section-head style-1 m-b30">
                    <h2 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">Connect with Us for <br> Your Healthcare Needs</h2>
                    <p class="small wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">Reach out for support, feedback, or to schedule an appointment. Fill out the form, and we'll promptly assist you and confirm your visit with our healthcare professionals.</p>
                </div>
                <div class="clearfix m-b60 m-lg-b30">
                    <div class="d-flex align-items-center m-b15 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">
                        <div class="info-widget style-12 m-r10 bg-light">
                            <div class="avatar-group">
                                <img class="avatar rounded-circle avatar-md border border-white border-2" src="/assets/images/avatar/small/avatar1.webp" alt="">
                                <img class="avatar rounded-circle avatar-md border border-white border-2" src="/assets/images/avatar/small/avatar2.webp" alt="">
                                <img class="avatar rounded-circle avatar-md border border-white border-2" src="/assets/images/avatar/small/avatar3.webp" alt="">
                                <img class="avatar rounded-circle avatar-md border border-white border-2" src="/assets/images/avatar/small/avatar4.webp" alt="">
                            </div>
                            <div class="clearfix">
                                <span>Talk to over 215 doctor</span>
                            </div>
                        </div>
                        <a href="team.html" class="btn btn-square btn-xl btn-light btn-rounded">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17L17 7" stroke="var(--bs-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M7 7H17V17" stroke="var(--bs-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="widget-rating3 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">
                        <ul class="star-list">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span class="rating">(4.8)</span>
                        <span class="text">12k+ ratings on google</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
                                <span class="icon-cell">
                                    <i class="feather icon-map-pin"></i>						
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">Address</h4>
                                <p>Ring Road No. 1, In front of Airtel Office, Telibandha, Raipur (C.G.)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
                                <span class="icon-cell">
                                    <i class="feather icon-phone"></i>							
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">Emergency Contact</h4>
                                <p><a href="tel:9039667312" class="text-body">+91 9039667312</a><br>
                                <a href="tel:9109152271" class="text-body">+91 9109152271</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
                                <span class="icon-cell">
                                    <i class="feather icon-mail"></i>
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">Send us a Mail</h4>
                                <p>
                                    <a href="mailto:info@shriananthospital.com" class="text-body">info@shriananthospital.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b20 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">
                        <div class="icon-bx-wraper style-8 box-hover">
                            <div class="icon-bx">
                                <span class="icon-cell">
                                    <i class="feather icon-clock"></i>								
                                </span>
                            </div>
                            <div class="icon-content">
                                <h4 class="dz-title">Opening Time</h4>
                                <p>Mon-Thu: 8:00am-5:00pm <br> Fri: 8:00am-1:00pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 m-b30"  data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                <div class="form-wrapper style-1">
                    <div class="form-body  background-blend-burn" style="background-image: url(images/background/bg2.png); background-size: cover; background-color:white; border:1px solid #2ab0e5; padding: 40px;" >
                        <div class="section-head style-1 m-b30">
                            <h2 class="title  m-b0" >Get in Touch</h2>
                            <p class=" m-b0 fw-medium">You can react us anytime</p>
                        </div>
                        <form id="contactForm" >
                            <input type="hidden" class="form-control" name="dzToDo" value="Contact">
                            <input type="hidden" class="form-control" name="reCaptchaEnable" value="0">
                            <div class="dzFormMsg"></div>
                            <div class="row">
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                                        <label for="inputFirstName">Full Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>" type="text" class="form-control dz-number" id="inputPhoneNumber" placeholder="Phone Number">
                                        <label for="inputPhoneNumber">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>" type="email" class="form-control" id="inputYourEmail" placeholder="Your Email">
                                        <label for="inputYourEmail">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <input name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.city %>" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                                        <label for="inputLastName">City</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 m-b30">
                                    <div class="form-floating floating-underline input-light">
                                        <textarea name="<%= CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>" class="form-control" id="inputMessage" rows="6" placeholder="Select Service"></textarea>
                                        <label for="inputMessage">Message</label>
                                    </div>
                                </div>
                                <div class="form-group" style="display: none;" >
                                    <input type="hidden" id="websiteProjectId" name="websiteProjectId" value="6760ee6577e9b0d3ffef0e70">
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" name="submit" value="submit" class="btn btn-lg btn-icon btn-white hover-secondary btn-shadow">
                                        Submit <span class="right-icon"><i class="feather icon-arrow-right"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Listen for form submission
    document.getElementById('contactForm').addEventListener('submit', async function (e) { 
        e.preventDefault(); // Prevent the default form submission
    
        try {
            const API_BASE_URL = "<%= API_BASE_URL %>";
            const websiteID = "<%= websiteID %>";
            const WEBSITEIDKEY = "<%= WEBSITE_ID_KEY %>";
            const CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS = <%- JSON.stringify(CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS) %>;
    
            const CREATE_CONTACT_ENQUIRY_END_POINT = `${API_BASE_URL}/website/contact-enquiry/create-contact-enquiry`;
    
            const contactForm = e.target; // Reference to the form element
            const WEBSITE_ID_KEY = WEBSITEIDKEY;
    
            // Prepare the payload from the form fields
            const payload = {
                [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name]: contactForm.querySelector(
                    `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.name}"]`
                ).value,
                [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.city]: contactForm.querySelector(
                    `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.city}"]`
                ).value,
                [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone]: contactForm.querySelector(
                    `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone}"]`
                ).value,
                [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email]: contactForm.querySelector(
                    `input[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.email}"]`
                ).value,
                [CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks]: contactForm.querySelector(
                    `textarea[name="${CONTACT_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks}"]`
                ).value,
                [WEBSITE_ID_KEY]: websiteID,
            };
    
            // Set headers for the request
            const headers = new Headers({
                "Content-Type": "application/json",
            });
    
            // Send POST request to the API
            const response = await fetch(CREATE_CONTACT_ENQUIRY_END_POINT, {
                method: "POST",
                headers,
                body: JSON.stringify(payload),
            });
    
            // Handle response
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
    
            const data = await response.json();
    
            // Redirect to the thank-you page on success
            sessionStorage.setItem("thankYouMessage", "We've Recieved Your Message and will Reach out to you soon");
            window.location.href = "/thankyou";
        } catch (error) {
            console.error("Form submission error", error);
            // Optionally, you can show an error message or log the error
        }
    });
    
            
            </script>
    
    
<%- include('./partials/locations.ejs') %>

<div class="clearfix">
    <div class="map-wrapper style-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28891.193971348785!2d75.8546432!3d25.1559936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1719221707984!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        <div class="container">
            <div class="content-bx style-5 position-absolute wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">
                <div class="logo-header logo-dark " style="display: flex;">
                    <a href="/"><img src="/assets/images/logo/SHRIANANTLOGO.svg" style="width: 120px;"  alt="logo"></a>
                    
                </div>
                <div class="content-text">
                    <p class="m-b0">Ring Road No. 1, In front of Airtel Office, Telibandha, Raipur (C.G.)</p>
                </div>
                <div class="dz-footer">
                    <a href="https://www.google.com/maps/" target="_blank" class="icon-link-hover-end">Open Google Map <i class="feather icon-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

</main>

<%- include('footer') %>