<%- include('header') %>

<main class="page-content">
	
    <div class="dz-bnr-inr dz-banner-dark overlay-secondary-middle dz-bnr-inr-md" style="background-image:url(/assets/images/banner/bnr2.webp);">
<div class="container">
    <div class="dz-bnr-inr-entry d-table-cell">
        <h1 class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.8s">Services</h1>
        <nav aria-label="breadcrumb" class="breadcrumb-row wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.8s">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Services</li>
            </ul>
        </nav>
        <div class="dz-btn">
            <a href="tel:+11234567890" class="btn btn-lg btn-icon btn-primary radius-xl btn-shadow mb-3 mb-sm-0">
                <span class="left-icon">
                    <i class="feather icon-phone-call"></i>
                </span>
                +1 123 456 7890
            </a>					
        </div>
    </div>
</div>
<span class="text-vertical">24/7 EMERGENCY SERVICE</span>
<ul class="dz-social">
    <li>
        <a href="https://www.instagram.com" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </li>
    <li>
        <a href="https://www.youtube.com" target="_blank">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </li>
</ul>
</div>

<section class="content-inner bg-light" style="background-image: url(images/background/bg5.png);">
    <div class="container">
        <%- include('./partials/servicecontent.ejs') %>
    </div>
</section>

  <%- include('./partials/whyus.ejs') %>

<section class="content-inner">
    <div class="container">	
        <div class="section-head style-1 text-center">
            <h2 class="title wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.7s">Choose Your Optimal Plan</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.7s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.7s">
                <div class="pricingtable-wrapper style-3 pricingtable-detail">
                    <div class="pricing-content-box">
                        <div class="pricingtable-price"> 
                            <h2 class="pricingtable-bx">Service Plan <span class="badge">20% Off</span></h2>
                            <p class="text">Choose your workspace plan according to your organisational plan</p>
                        </div>
                    </div>
                    <div class="pricingtable-list">
                        <ul class="pricingtable-features">
                            <li>Cardiovascular Services</li>
                            <li>Weight Management</li>
                            <li>Dental Services</li>
                            <li>Women's Health</li>
                            <li>Emergency Medicine</li>
                            <li>Family Medicine</li>
                            <li>24/7 customer support</li>
                            <li>Video Call Support</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.7s">
                <div class="pricingtable-wrapper style-3">
                    <div class="pricing-content-box">
                        <div class="pricingtable-price"> 
                            <h2 class="pricingtable-bx">Free<small>/ Lifetime</small></h2>
                        </div>
                        <div class="pricingtable-button">
                            <a href="javascript:void(0);" class="btn btn-primary btn-hover1 w-100"><span>Choose This Plan</span></a>
                        </div>
                    </div>
                    <div class="pricingtable-list">
                        <ul class="pricingtable-features">
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li class="disable"><img src="/assets/images/check.svg" alt=""></li>
                            <li class="disable"><img src="/assets/images/check.svg" alt=""></li>
                            <li class="disable"><img src="/assets/images/check.svg" alt=""></li>
                            <li class="disable"><img src="/assets/images/check.svg" alt=""></li>
                            <li class="disable"><img src="/assets/images/check.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.7s">
                <div class="pricingtable-wrapper style-3 active">
                    <div class="pricing-content-box">
                        <div class="pricingtable-price"> 
                            <h2 class="pricingtable-bx">$25<small>/ Month</small></h2>
                        </div>
                        <div class="pricingtable-button">
                            <a href="javascript:void(0);" class="btn btn-primary btn-hover1 w-100"><span>Choose This Plan</span></a>
                        </div>
                    </div>
                    <div class="pricingtable-list">
                        <ul class="pricingtable-features">
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li class="disable"><img src="/assets/images/check.svg" alt=""></li>
                            <li class="disable"><img src="/assets/images/check.svg" alt=""></li>
                            <li class="disable"><img src="/assets/images/check.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 m-b30 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.7s">
                <div class="pricingtable-wrapper style-3">
                    <div class="pricing-content-box">
                        <div class="pricingtable-price"> 
                            <h2 class="pricingtable-bx">$40<small>/ Month</small></h2>
                        </div>
                        <div class="pricingtable-button">
                            <a href="javascript:void(0);" class="btn btn-primary btn-hover1 w-100"><span>Choose This Plan</span></a>
                        </div>
                    </div>
                    <div class="pricingtable-list">
                        <ul class="pricingtable-features">
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                            <li><img src="/assets/images/check.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

   <%- include('./partials/testimonials.ejs') %>
   <%- include('./partials/faq.ejs') %>
    
</main>

<%- include('footer') %>